<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
        https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>central</id>
        </server>
        <server>
            <id>osgeo</id>
        </server>
        <server>
            <id>github_ode</id>
            <username>jpo_ode</username>
            <password>${env.MAVEN_GITHUB_TOKEN}</password>
        </server>
        <server>
            <id>github_gjc</id>
            <username>jpo_gjc</username>
            <password>${env.MAVEN_GITHUB_TOKEN}</password>
        </server>
        <server>
            <id>github_cm</id>
            <username>jpo_conflictmonitor</username>
            <password>${env.MAVEN_GITHUB_TOKEN}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                    <id>github_ode</id>
                    <name>GitHub JPO ODE</name>
                    <url>https://maven.pkg.github.com/${env.MAVEN_GITHUB_ORG}/jpo-ode</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>github_gjc</id>
                    <name>GitHub JPO Geojson Converter</name>
                    <url>https://maven.pkg.github.com/${env.MAVEN_GITHUB_ORG}/jpo-geojsonconverter</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>github_cm</id>
                    <name>GitHub JPO Conflict Monitor</name>
                    <url>https://maven.pkg.github.com/${env.MAVEN_GITHUB_ORG}/jpo-conflictmonitor</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>
</settings>