<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%date{"yyyy-MM-dd HH:mm:ss.SSSS", UTC} [%thread] %-5level %logger{0} - %msg %n</pattern>
    </encoder>
  </appender>

  <!-- Uncomment to suppress useless error message on Windows -->
<!--  <logger name="org.apache.kafka.streams.processor.internals.StateDirectory" level="OFF"/>-->

  <logger name="us.dot.its.jpo.conflictmonitor" level="ERROR"/>
  <root level="OFF">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>