CM_DATABASE_NAME=CV
DB_HOST_IP=localhost
MONGO_READ_WRITE_USER=ode
MONGO_READ_WRITE_PASS=replace_me
CM_MONGO_AUTH_DB=admin

CM_ATSPM_CLIENT_BASE_URL=
CM_ATSPM_CLIENT_USERNAME=
CM_ATSPM_CLIENT_PASSWORD=