CM_DATABASE_NAME=CV
DB_HOST_IP=localhost
MONGO_READ_WRITE_USER=ode
MONGO_READ_WRITE_PASS=replace_me
CM_MONGO_AUTH_DB=admin

CM_ATSPM_CLIENT_BASE_URL=https://example.com/ExampleDataApi
CM_ATSPM_CLIENT_USERNAME=example@example.com
CM_ATSPM_CLIENT_PASSWORD=replace_me

# GitHub properties for pulling the latest version of the JPO-ODE
MAVEN_GITHUB_TOKEN_NAME=
MAVEN_GITHUB_TOKEN=
MAVEN_GITHUB_ORG=usdot-jpo-ode
# Uncomment to use alternate maven repo
#MAVEN_GITHUB_ORG=CDOT-CV
#MAVEN_GITHUB_ORG=neaeraconsulting

COMPOSE_PROFILES=mongo,cm_batch